@import "scss/functions/breakpoints";

.table-settings-drawer {
  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .button-group {
    margin-top: 2rem;
  }
  .radio-group {
    margin-bottom: 1rem;
  }
}

